.issue-list {        
    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    .issue {      
        position: relative;                     
        border-radius: 0.381rem;
        margin-bottom: 0.618rem;
        padding: 0.618rem;
        border: thin solid rgba(0,0,0,0.1);
        &:last-child {
            margin-bottom: 0;
        }
        .number {                        
            font-size: 1.381rem;
            line-height: 1;
            font-weight: 300;
            margin-bottom: 0.2rem;
        }
        .last-update{
            @include grayout();
        }
        .title {            
            font-weight: 500;
            margin: 0.381rem 0;      
        }
        .info {
            position: absolute;
            right: 0.618rem;
            top: 0.381rem;
            opacity: 0.8;
            font-size: 0.8rem;
        }        
        @include box-sizing(border-box);
    }    
}

.issue-info {
    .number {
        font-size: 2.381rem;
        margin-top: 0;
        line-height: 1;
    }
    .issue-labels {
        margin: 1rem 0;
        .label {
            margin: 0 0.381rem 0.618rem 0;
        }
    }    
}

.issue-summary {
    .title {
        font-size: 1.381rem;
        line-height: 1.381;        
        font-weight: 500;        
        margin-bottom: 0.618rem;
    }    
}

.issue-labels {
    margin: 0;
    .label {            
        display: inline-block;
        color: #fff;
        font-size: 0.8rem;            
        font-weight: 500;
        text-shadow: 0 0 0.618rem rgba(0, 0, 0, 1);  
        padding: 0.141rem  0.41rem ; 
        margin-right: 0.235rem;
        border-radius: 0.235rem;        
        
        @include single-box-shadow($inset: true, $blur: 0.618rem, $color: rgba(0,0,0,0.381)); 
        
    }
}

.issue-user {
    margin: 0.618rem 0;
    .avatar {
        width: 2.381rem;
        float: left;
        border-radius: 0.235rem;
        vertical-align: text-top;
    }
    .info {
        margin-left: 3rem;
        vertical-align: top;
        line-height: 1;
        .login {
            display: inline-block;            
            font-weight: 500;
        }
        .age {
            @include grayout();
            display: block;
            margin-top: 0.381rem;
            line-height: 1.381;            
        }
    }
}   

.issue-body {
    p {
        margin: 0;
        margin-bottom: 0.618rem;
    }
    a {
        font-weight: 500;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }    
    p > code, li > code {
        background: $bg;
        padding: 0.14rem 0.235rem 0.23rem;
        border-radius: 0.235rem;
    }
    ul {
        list-style: disc;        
        margin-left: 1.618rem;
        margin-bottom: 0.618rem;
        li {
            margin-bottom: 0.381rem;
        }
    }
    pre {
        background: lighten($bg, 61);
        padding: 0.618rem;
        overflow-x: auto;            
        display: block;
        margin: 0 0 0.618rem;
        border-radius: 0.235rem;
        @include single-box-shadow($inset: true, $blur: 1.618rem, $color: rgba(0,0,0,0.06)); 
        code {
            width: auto;
            white-space: pre;
            display: inline-block;        
            line-height: 1.381;    
        }
    }
    blockquote {
        font-style: italic;
        border-left: thick solid $bg;
        padding-left: 0.618rem;
        border-radius: 0.618rem;
        margin-left: 1.618rem;
    }
    .remail-hidden-toggle {
        display: none;
    }
}

.issue-comments {
    .comment{
        margin-bottom: 0.618rem;
        border-bottom: thin solid $bg;
        padding-bottom: 0.618rem;
        .issue-user {
            margin-top: 1rem;
        }
        &:last-child{
            margin-bottom: 0;
            border-bottom: none;
            padding-bottom: 0;
        }
    }
}

.issue-events {
    .event {
        .issue-user{
            margin-top: 0;
            margin-bottom: 0.618rem;
            line-height: 1.381;
            .avatar {
                float: left;
                width: 1.618rem;
                img {
                    vertical-align: text-top;    
                }                
            }            
            .info {                
                &:first-line{
                    line-height: 1;                    
                }
                margin-left: 2.235rem;
                line-height: 1.381;
                .commit {
                    font-family: $codeFont;
                    font-size: 0.9rem;                    
                }
                a {
                    font-weight: 500;
                    display: inline-block;
                    margin:0;
                    padding: 0;
                    line-height: 1;
                    padding-bottom: 0.235em;
                }
                .age {                    
                    margin-top: 0;
                }              
            }
        }
    }
}