@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic&subset=latin,cyrillic-ext,latin-ext,cyrillic,greek-ext,greek);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic&subset=latin,cyrillic-ext,greek-ext,latin-ext);

@import "normalize";
@import "font-awesome";
@import "github";
@import "compass/css3";

@import "data";

$baseFont: 'Ubuntu', Helvetica, sans-serif;
$headFont: 'Maven Pro', Helvetica, sans-serif;
$codeFont: 'Ubuntu Mono', monospace;

$gray: rgba(255,255,255,0.9);
$light: rgba(0,0,0,0.381);
$bg: rgba(0,0,0,0.06);
$baseColor: #333;
$lightColor: lighten($baseColor, 16);

$header-height: 3.618rem;

@mixin absolutize($top:0, $left:0, $bottom:0, $right:0){
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
}

@mixin grayout() {
    opacity: 0.4;
}

@mixin insetshadow(){
    background-color: $light;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.4) 0px 3px 3px;
}

code {
    font-family: 'Ubuntu Mono', monospace;
}

ul {
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.618;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover, &:active, &:visited{
        text-decoration: none;
        color: inherit;
    }
}

ul {
    list-style: none;
    margin: 0;
}

input:focus {
    outline: none;
}

body {
    font-family: $baseFont;
    font-size: 14px;
    line-height: 1.618;
    color: $baseColor;
    -webkit-font-smoothing: antialiased;
}

#container {
    @include absolutize();
}

header {  
    z-index: 2;      
    @include absolutize($bottom:inherit);    
    height: $header-height;    
    font-family: $headFont;
    background: $headerBgData;
    color: $gray;    
    @include single-box-shadow();
    padding: 0 1rem;    
    position: relative;
    .links {
        position: absolute;
        right: 1rem;
        font-size: 1.381rem;        
        line-height: 2.618;
        a {
            margin-left: 0.618rem;
        }   
    }
    .path {      
        padding: 0;
        line-height: $header-height;  
        font-size: $header-height / 2.618;        
        display: inline-block;           
        font-weight: 500;
        li{
            margin: 0;
            padding:0;            
            display: inline-block;                 
            &:after{
                content: " /";                    
            }      
            &:before {
                content: "\0000a0";
            };
            &:first-child:before, &:last-child:after{
                content: none;
            }      
        }    
    }    
    
}


#main {        
    z-index: 1;
    @include absolutize($top:$header-height);    
    background: $mainBgData;
}

.app {    
    .metro {        
        @include box-sizing(border-box);  
        border-radius: 0.235rem;      
        @include single-box-shadow($blur: 0.381rem, $color: rgba(50,50,50,0.1), $hoff: 0.235rem, $voff: 0.235rem);
        background: rgba(255,255,255,0.381);
        overflow: auto;        
        -webkit-overflow-scrolling: touch;
        padding:1rem;        
        border: thin solid rgba(100,100,100,0.15);        
    }
}

.user-info {    
    img {
        height: 98%;
        border-radius: 0.235rem;
        float: left;
        margin-right: 1rem;
    }
    .info {
        white-space: nowrap;
        padding-right: 1rem;        
        .name {        
            font-weight: 300;
            font-size: 1.381rem;
            vertical-align: top;
            line-height: 1;
        }
        .login {
            font-weight: 500;
            font-size: 1rem;                   
        }    
        .stats {
            
        }
    }
    
}

.repo-info {
    .name {
        font-weight: 300;
        font-size: 1.618rem;
        vertical-align: top;
        line-height: 1;                
        margin-bottom: 0.2rem;
    }    
    .desc {        

    }
    position: relative;    
    .links {        
        font-size: 1.2rem;        
        line-height: 1;
    }
    .fork-info {
        font-style: italic;
        margin: 0.381rem 0 0.618rem;
        font-weight: 300;
        a {
            font-weight: 400;
        }
    }
    a {
        font-weight: 500;
        &:hover{
            text-decoration: underline;
        }
    }
}

hr {
    margin: 1rem 0;
    border-bottom: thin solid rgba(0,0,0,0.1);
    &:last-child {
        border-bottom: none;
    }
}

.repo-list {            
    padding-bottom: 1rem;
    a {
        font-weight: 500;        
        display: block;
        padding: 0.618rem;
        margin: -0.381rem;
        position: relative;
        color: $lightColor;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        border-radius : 0.235rem;
        @include transition-property('background,color');
        @include transition-duration(0.2s);
        i.arrow {
            &:first-child{
                @include absolutize($right:2rem, $left:inherit, $top:25%, $bottom:inherit);
                @include transition-property('right, opacity');
                @include transition-duration(0.2s);
                opacity: 0;                
            }
            color: rgba(0,0,0,0.381);
            @include absolutize($right:0.5rem, $left:inherit, $top:25%, $bottom:inherit);
        }
        &:hover{
            background: $bg;
            color: #444;
            cursor: pointer;                                    
            i.arrow{
                color: $light;
                &:first-child{
                    opacity: 1;
                    right: 1rem;                                
                }
            }
        }
    }
}


.stream {    
    .heading {
        font-weight: 600;
        font-size: 1rem;
        color: $light;
        line-height: 1;
        text-transform: uppercase;
    }        
}

.event-list{        
    padding: 0;
    .event {        
        clear: both;
        font-weight: normal;
        margin-bottom: 1rem;                
        position: relative;
        .timestamp {            
            @include grayout();
            display: block;
        }       
        &:last-child{
            margin-bottom: 0;
        }
        .avatar {            
            float: left;                        
            img {
                width: 2rem;
                vertical-align: text-top;
                border-radius: 0.235rem;
            }                        
        }
        .copy {            
            line-height: 1.5;
            margin-left: 2.75rem;
            display: block;
        }
        a {
            font-weight: 500;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.member-tiles {
    margin: auto;
    li {
        width: 140px;
        max-width: 25%;        
        display: inline-block;
        margin: 0.618rem;
        img {
            width: 100%;
            border-radius: 0.381rem;
        }
    }
}

.empty-message {
    padding: 1.618rem;    
    font-size: 1.618rem;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    @include grayout();    
    @include insetshadow();
    .action {
        text-decoration: underline;
        border-bottom: thin solid rgba(0,0,0,0.4);
        cursor: pointer;
    }
}

.loginbox {
    text-align: center;
    .header {
        margin: 0.618rem 0.618rem 1.618rem;
    }        
    label {
        margin-left: 0.381rem;
        font-weight: 500;        
        font-size: 1.2rem;
    }
    a {
        text-decoration: underline;
    }
    button {
        font-size: 1.381rem;
        padding: 0.618rem;
        font-family: $baseFont;
        margin: 0.618rem 0.618rem 1.381rem;
        .text {
            margin-left: 0.381rem;
        }
        border-radius: 0.618rem;
        background: lighten($bg, 61);
        border: none;
        @include transition-property('box-shadow');
        @include transition-duration(0.38s);
        @include single-box-shadow($inset: true, $blur: 0.21rem);
        &:hover {
            @include single-box-shadow($inset: true, $blur: 0.381rem);
        }
    }
}

.faq {
    text-align: center;
    padding: 1rem 3.618rem;    
    .headline {
        line-height: 2rem;
        font-family: $headFont;
        font-size: 1rem;
        margin-bottom: 2.618rem;
        .lead {
            font-size: 1.618rem;
            font-weight: 500;
        }
        .for {
            font-family: $baseFont;
            font-style: italic;
            font-weight: 500;
        }
        .boom {
            font-size: 2.618rem;
            font-weight: 500;
            text-transform: uppercase;
        }
    }
    .q {
        font-size: 1.618rem;
        font-weight: 300;
        line-height: 2rem;
        margin-bottom: 0.381rem;
        margin-top: 1.618rem;
    }
    .a {
        line-height: 1.618rem;
        margin: 0;
    }
}

.sidebar {
    position: absolute;
    bottom: 0.381rem;
    right: 0.618rem;    
    opacity: 0.381;
    @include transition-property(opacity);
    @include transition-duration(0.381s);
    &:hover{
        opacity: 1;        
    }
}

@import "issues";

::-webkit-scrollbar {
    width: 0.325rem;
    height: 0.325rem;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
    background: rgba(200,200,200,0.1);  
}
 
::-webkit-scrollbar-thumb {    
    background: rgba(100,100,100,0.235); 
}

::-webkit-scrollbar-corner {
    display: none;
}
